#first-page {
  background-image: url(assets/wallpaper001.jpg);
}

.image {
  display: inline-block;
  background-color: red;
  margin: 0 50px;
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

#i1 {
  background-image: url(assets/pattern001.png);
}

#i2 {
  background-image: url(assets/pattern002.png);
}

#i3 {
  background-image: url(assets/pattern003.png);
}

#next {
  background-color: white;
  color: black;
  text-decoration: underline;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  left: 83%;
  top: 90%;
}

#second-page {
  background-image: url(assets/wallpaper002.jpg);
}

#apresentacao {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 300px;
}

#apresentacao > p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
}

.bottons {
  background-color: white;
  color: black;
  text-align: center;
  display: inline-block;
  list-style: none;
  width: 150px;
  height: 25px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

ul {
  padding: 0;
}

.bottons:hover {
  background-color: green;
  color: white;
  transition: 0.5s;
}